@namespace MudBlazor

@inherits MudComponentBase

<MudElement HtmlTag="ul" Class="@Classname" Style="@Style" Tag="@Tag" UserAttributes="@UserAttributes">
    @if (ShowPreviousButton)
    {
        <li class="@ItemClassname">
            <MudIconButton Icon="@BeforeIcon" Size="@Size" Variant="@Variant" OnClick="@(() => OnClickControlButton(Page.Previous))" aria-label="Previous page"></MudIconButton>
        </li>
    }
    @foreach (var state in GeneratePagination())
    {
        var currentPage = state;
        if (currentPage == Selected)
        {
            <li class="@SelectedItemClassname">
                <MudButton Variant="@(Variant == Variant.Outlined ? Variant.Outlined : Variant.Filled)" Size="@Size" DisableRipple="true" Disabled="@Disabled" Color="@Color" aria-current="page" aria-label="@($"Current page {currentPage.ToString("MMMM")}")">@currentPage.ToString("MMMM")</MudButton>
            </li>
        }
        else {
            <li class="@ItemClassname">
                <MudButton OnClick="@(() => Selected = currentPage)" Variant="@Variant" Size="@Size" DisableRipple="true" Disabled="@Disabled" aria-label="@($"Page {currentPage.ToString("MMMM")}")">@currentPage.ToString("MMMM")</MudButton>
            </li>
        }
    }
    @if (ShowNextButton)
    {
        <li class="@ItemClassname">
            <MudIconButton Icon="@NextIcon" Variant="@Variant" Size="@Size" OnClick="@(() => OnClickControlButton(Page.Next))" aria-label="Next page"></MudIconButton>
        </li>
    }
</MudElement>