@if (_series is not null)
{
    <AuthorizeView Roles="@AccessesNames.AUTH_Taco">
        @_elapsedMilliseconds
    </AuthorizeView>
    <SelectMultipleUsers Users="@Users" Functions="@Functions" Selection="@_selectedUsers" SelectionChanged="OnSelectionChanged" MultiSelection="true"/>
    <div>
        <MudChart ChartType="ChartType.Line" ChartSeries="@_series" XAxisLabels="@_xAxisLabels" Width="100%" Height="350px" ChartOptions="@_options" CanHideSeries/>
    </div>
}
else
{
    <MudSkeleton/>
    <MudSkeleton/>
    <MudSkeleton/>
    <MudSkeleton/>
}