@using Color = MudBlazor.Color
<MudPaper Elevation="0" Class="p-2">
    <MudTabs Rounded="true">
        <MudTabPanel Text="@L["Year charts"]">
            <SelectMultipleUsers Users="@Users" Functions="@Functions" Selection="@_selectedUsers" SelectionChanged="OnSelectionChanged" MultiSelection="true"/>
            <MudSwitch Label="@L["Analyze all years"]" Color="Color.Primary" T="bool" Value="@_allYears" ValueChanged="@(async (isChecked) => await AllYearsChanged(isChecked))"/>
            <MudSwitch Label="@L["Total"]" Color="Color.Primary" T="bool" Value="@_total" ValueChanged="@(async (isChecked) => await TotalChanged(isChecked))"/>
            @if (_showHistoricalIncorrectWarning)
            {
                <MudAlert Severity="Severity.Info">@L["Data from 2021 and before could be incorrect or incomplete"]</MudAlert>
            }
            <MudPaper Elevation="0" Class="flex align-content-start flex-wrap flex-grow-1 gap-4 mx-2 my-4">
                <div class="flex-1">
                    <StatisticsActionsAll @ref="_statisticsActionsAll" StatisticsTab="this" SelectedUsers="_selectedUsers" AllYears="@_allYears"/>
                </div>
                <div class="flex-1">
                    <StatisticsTrainingsAll @ref="_statisticsTrainingsAll" StatisticsTab="this" SelectedUsers="_selectedUsers" AllYears="@_allYears"/>
                </div>
            </MudPaper>
        </MudTabPanel>
        <AuthorizeView Roles="@AccessesNames.AUTH_Taco">
            <MudTabPanel Text="@L["Month charts"]">
                <MudText Typo="Typo.h3">Komt er nog aan</MudText>
            </MudTabPanel>
            <MudTabPanel Text="@L["User table"]">
                <MudText Typo="Typo.h3">Komt er nog aan</MudText>
            </MudTabPanel>
        </AuthorizeView>
    </MudTabs>
</MudPaper>