@using Drogecode.Knrm.Oefenrooster.Shared.Models.SharePoint;
@using Drogecode.Knrm.Oefenrooster.Client.Extensions
@if (_reportTrainings != null)
{
    <AuthorizeView Roles="@AccessesNames.AUTH_Taco">
        <MudChip T="string">@_reportTrainings.ElapsedMilliseconds</MudChip>
    </AuthorizeView>
    <MudText Typo="Typo.h5">@L["Trainings from SharePoint"]</MudText>
    <SelectMultipleUsers Users="@Users" Functions="@Functions" Selection="@_selectedUsersTraining" SelectionChanged="OnSelectionChanged" MultiSelection="_multiSelection"/>
    @if (_reportTrainings?.Trainings?.Count() > 0)
    {
        <MudDataGrid Items="@_reportTrainings.Trainings" ReadOnly="true" Filterable="false" SortMode="@SortMode.None">
            <Columns>
                <HierarchyColumn T="DrogeTraining"/>
                <TemplateColumn Title="@L["Start"]">
                    <CellTemplate>
                        @if (ReportSettingsHelper.TrainingDifferentStart.Contains(context.Item?.Type ?? string.Empty))
                        {
                            <p>@context.Item?.Commencement.ToNiceString(LDateToString)</p>
                        }
                        else
                        {
                            <p>@context.Item?.Start.ToNiceString(LDateToString)</p>
                        }
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="x => x.Title" Title="@L["Description"]"/>
            </Columns>
            <ChildRowContent>
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@context.Item.Title</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudMarkdown Value="@context.Item.Description"/>
                        @if (context.Item.Users is not null)
                        {
                            <MudList>
                                @foreach (var user in context.Item.Users)
                                {
                                    <MudListItem>@user.Name - @user.Role</MudListItem>
                                }
                            </MudList>
                        }
                        @{
                            var differentStart = ReportSettingsHelper.TrainingDifferentStart.Contains(context.Item?.Type ?? string.Empty);
                            var start = differentStart ? context.Item.Commencement : context.Item.Start;
                        }
                        <MudText Typo="Typo.h6">@L["Times"]</MudText>
                        <MudList>
                            <MudListItem>
                                @($"{L["Start"]} - {start.ToNiceString(LDateToString)}")
                            </MudListItem>
                            @if (!differentStart)
                            {
                                <MudListItem>
                                    @($"{L["Commencement"]} - {context.Item.Commencement.ToNiceString(LDateToString, showDate: context.Item.Start.Date != context.Item.Commencement.Date)}") - @((context.Item.Commencement - start).TotalMinutes) @L["minutes"]
                                </MudListItem>
                            }
                            <MudListItem>
                                @($"{L["End"]} - {context.Item.End.ToNiceString(LDateToString, showDate: context.Item.Commencement.Date != context.Item.End.Date)}") - @((context.Item.End - start).TotalMinutes) @L["minutes"]
                            </MudListItem>
                        </MudList>
                        <MudText Typo="Typo.h6">@L["Miscellaneous"]</MudText>
                        <MudList>
                            <MudListItem>@L["Boat"]: @context.Item.Boat</MudListItem>
                            <MudListItem>@L["Type"]: @context.Item.Type</MudListItem>
                            @if (_isTaco) /*Work in progress*/
                            {
                                <MudListItem>@L["Minutes"]: @context.Item.TotalMinutes</MudListItem>
                                <MudListItem>@L["Hours"]: @context.Item.TotalFullHours</MudListItem>
                            }
                        </MudList>
                    </MudCardContent>
                </MudCard>
            </ChildRowContent>
        </MudDataGrid>
        @if (_reportTrainings.TotalCount > _count)
        {
            <MudPagination Disabled="_busy" ShowFirstButton="true" ShowLastButton="true" MiddleCount="5" Count="@(Convert.ToInt32(Math.Ceiling((double)_reportTrainings.TotalCount / (double)_count)))" Selected="_currentPage" SelectedChanged="Next" Class="mt-4"/>
        }
    }
}
else
{
    <MudSkeleton/>
    <MudSkeleton/>
    <MudSkeleton/>
    <MudSkeleton/>
}