<div>
    <MudText Typo="Typo.h3">Comming soon!</MudText>

    <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowBackIosNew" OnClick="()=>SetMonth(_month.AddMonths(-1))" Disabled="_updating"></MudIconButton>
        <MudButton>@_month.ToString(_month.Year == DateTime.Today.Year ? "MMMM" : "MMMM yyyy")</MudButton>
        <MudIconButton Icon="@Icons.Material.Filled.ArrowForwardIos" OnClick="()=>SetMonth(_month.AddMonths(1))" Disabled="_updating"></MudIconButton>
    </MudButtonGroup>
    @if (Users != null)
    {
        <MudTable Hover="true" Breakpoint="Breakpoint.Sm"
                  Items="@Users.OrderBy(x => Functions?.FirstOrDefault(y => y.Id == x.UserFunctionId)?.Order).ThenBy(x=>x.Name)"
                  GroupBy="@_groupBy"
                  GroupHeaderStyle="background-color:var(--mud-palette-background-grey)"
                  GroupFooterClass="mb-4"
                  Dense="true"
                  Bordered="true">
            <ColGroup>
                <col style="width: 60px;" />
                <col />
                <col />
                <col />
                <col />
                <col />
            </ColGroup>
            <HeaderContent>
                <MudTh>@L["Name"]</MudTh>
                @foreach (var item in _events)
                {
                    <MudTh Class="@($"trainingType-{item.RoosterTrainingTypeId}")">
                        @item.DateStart.ToString("dddd")
                        <DateToString ShowDate="true" ShowTime="true" DateTimeUtc="item.DateStart" /> @item.Name
                    </MudTh>
                }
            </HeaderContent>
            <GroupHeaderTemplate>
                <MudTh Class="mud-table-cell-custom-group" colspan="5">
                    @($"{Functions?.FirstOrDefault(y => y.Id == (Guid)context.Key)?.Name ?? L["Unknown"]}")
                </MudTh>
            </GroupHeaderTemplate>
            <RowTemplate>
                <MudTd Class="DrogeCode-sticky-column" DataLabel="@L["Name"]">@context.Name</MudTd>
                @foreach (var item in _events)
                {
                    var training = item.PlanUsers.FirstOrDefault(x => x.UserId == @context.Id);
                    <MudTd Class="@(training == null ? "" : training.Availabilty == Oefenrooster.Shared.Enums.Availabilty.Available ? "bg-green-400" : training.Availabilty == Oefenrooster.Shared.Enums.Availabilty.NotAvailable ? "bg-red-400" : training.Availabilty == Oefenrooster.Shared.Enums.Availabilty.Maybe ? "bg-orange-400" : "")" DataLabel="@L["Name"]">
                        @if (training?.Assigned == true)
                        {
                            @(Vehicles?.FirstOrDefault(x => x.Id == training.VehicleId)?.Code ?? Vehicles?.FirstOrDefault(x => x.Default)?.Code ?? L["Assigned"])
                        }
                    </MudTd>
                }
            </RowTemplate>
        </MudTable>
    }
</div>
@code {
    TableGroupDefinition<DrogeUser> _groupBy = new()
        {
            GroupName = "Group",
            Indentation = false,
            Expandable = true,
            IsInitiallyExpanded = true,
            Selector = (e) => e.UserFunctionId
        };
}