@page "/"
@attribute [Authorize]
@using Drogecode.Knrm.Oefenrooster.Client.Extensions
@using Drogecode.Knrm.Oefenrooster.Client.Pages.Planner.Components
@using Drogecode.Knrm.Oefenrooster.Client.Pages.Dashboard.Components;
@using ZXing
<PageTitle>Dashboard</PageTitle>

<MudPaper Elevation="0" Class="p-2">
    <MudTabs Rounded="true">
        <MudTabPanel Text="@L["Planner"]">
            @if (_name is not null)
            {
                <div class="inline-flex">
                    <MudText Typo="Typo.h5">@L["Welcome", _name]</MudText>
                    @if (_user?.Nr is not null)
                    {
                        <MudText Typo="Typo.subtitle2">@($" ({_user.Nr})")</MudText>
                    }
                </div>
            }
            @if (_dayItems != null && _dayItems.Any())
            {
                <MudText Typo="Typo.h5">@L["Special days"]</MudText>
                <MudPaper Elevation="0" Class="p-2">
                    <MudGrid Spacing="2" Justify="Justify.FlexStart">
                        @foreach (var item in _dayItems)
                        {
                            var color = DayItemHelper.DayItemTypeColor(item.Type);
                            <MudItem xs="12" sm="6" md="4" lg="3">
                                <div class="d-flex gap-1">
                                    <MudIcon Icon="@Icons.Material.Filled.Circle" Color="color" Size="Size.Small" />
                                    <DateToString DateTimeLocal="item.DateStart" @key="@(item.DateStart?.Ticks + DateTime.Today.Day)" />
                                    @item.Text
                                </div>
                            </MudItem>
                        }
                    </MudGrid>
                </MudPaper>
            }
            @if (_pinnedTrainings is not null)
            {
                @if (_pinnedTrainings.Any())
                {
                    <MudText Typo="Typo.h5">@L["Pinned trainings"]</MudText>
                    <MudPaper Elevation="0" Class="flex align-content-start flex-wrap flex-grow-1 gap-4 mx-2 my-4">
                        @foreach (var training in _pinnedTrainings)
                        {
                            <div class="flex-1">
                                <CalendarCard MinWidth="300px" MaxWidth="600px" Training="training" ShowDate="true" ShowDayOfWeek="true" />
                            </div>
                        }
                    </MudPaper>
                }
            }
            else if (_loading)
            {
                <MudSkeleton />
                <MudSkeleton />
                <MudSkeleton />
                <MudSkeleton />
            }
            <MudText Typo="Typo.h5">@L["Future trainings"]</MudText>
            @if (_futureTrainings != null)
            {
                @if (_futureTrainings.Any())
                {
                    <MudPaper Elevation="0" Class="d-flex align-content-start flex-wrap flex-grow-1 gap-4 mx-2 my-4">
                        @foreach (var training in _futureTrainings)
                        {
                            <div class="flex-1">
                                <IndexCard MinWidth="300px" MaxWidth="600px" User="_user" Training="training" Functions="_functions" Users="_users" TrainingTypes="_trainingTypes" Vehicles="_vehicles" ShowDayOfWeek="true" />
                            </div>
                        }
                    </MudPaper>
                }
                else
                {
                    <MudText Typo="Typo.h6">@L["No future trainings"]</MudText>
                }
            }
            else if (_loading)
            {
                <MudSkeleton />
                <MudSkeleton />
                <MudSkeleton />
                <MudSkeleton />
            }
            <AuthorizeView Roles="@AccessesNames.AUTH_dashboard_holidays">
                @if (_futureHolidays != null)
                {
                    @if (_futureHolidays.Any())
                    {
                        <MudText Typo="Typo.h5">@L["Future holidays"]</MudText>
                        <MudList T="string">
                            @foreach (var holiday in _futureHolidays)
                            {
                                var holUser = _users?.FirstOrDefault(x => x.Id == holiday.UserId);

                                @if (holUser is not null)
                                {
                                    <MudListItem T="string">@holUser.Name : @holiday.Description <MudText Typo="Typo.subtitle2">(@LApp["from"]: @holiday.ValidFrom?.ToNiceString(LDateToString, showtime: false) @LApp["till"]: @holiday.ValidUntil?.ToNiceString(LDateToString, showtime: false))</MudText></MudListItem>
                                }
                            }

                        </MudList>
                    }
                    else
                    {
                        <MudText Typo="Typo.h6">@L["No future trainings"]</MudText>
                    }
                }
            </AuthorizeView>
            <AuthorizeView Roles="@AccessesNames.AUTH_dashboard_qr">
                <MudText Typo="Typo.h5">@L["hui.nu QR code"]</MudText>
                <MudBarcode Value="https://hui.nu" ForceHeight="1" BarcodeFormat="BarcodeFormat.QR_CODE" />
            </AuthorizeView>
        </MudTabPanel>
        <MudTabPanel Text="@L["Actions"]">
            <ActionsTab User="@_user" Users="@_users" Functions="@_functions" />
        </MudTabPanel>
        <MudTabPanel Text="@L["Trainings"]">
            <TrainingsTab User="@_user" Users="@_users" Functions="@_functions" />
        </MudTabPanel>
        <AuthorizeView Roles="@AccessesNames.AUTH_dashboard_Statistics">
            <MudTabPanel Text="@L["Statistics"]">
                <StatisticsTab User="@_user" Users="@_users" Functions="@_functions" />
            </MudTabPanel>
        </AuthorizeView>
    </MudTabs>
</MudPaper>