@page "/planner/calendar"
@attribute [Authorize]
@using Drogecode.Knrm.Oefenrooster.Client.Pages.Planner.Components
@using Drogecode.Knrm.Oefenrooster.Client.Repositories;
@using Drogecode.Knrm.Oefenrooster.Shared.Enums;
@using Drogecode.Knrm.Oefenrooster.Shared.Models.Schedule;

<MudCalendar Items="_events" MonthCellMinHeight="100" DateRangeChanged="SetCalenderForMonth">
    <CellTemplate>
        <div style="width: 100%; border: 2px solid @(((CustomItem)context).Color)">
            <div style="background-color: @(((CustomItem)context).Color)" class="min-h-[1.25rem]">
                <MudText Style="color: #ffffff;" Typo="Typo.body1" Align="Align.Center">
                    @(((CustomItem)context).training.Name)
                </MudText>
            </div>
            <MudSelect T="Availabilty?" Label="@LApp["Availibility"]" Variant="Variant.Text" @bind-Value="@(((CustomItem)context).training.Availabilty)" SelectedValuesChanged="()=>OnChange((CustomItem)context)">
                <MudSelectItem T="Availabilty?" Value="Availabilty.Available">@LApp["Available"]</MudSelectItem>
                <MudSelectItem T="Availabilty?" Value="Availabilty.NotAvailable">@LApp["NotAvailable"]</MudSelectItem>
                <MudSelectItem T="Availabilty?" Value="Availabilty.Maybe">@LApp["Maybe"]</MudSelectItem>
            </MudSelect>
        </div>
    </CellTemplate>
</MudCalendar>