@page "/configuration/audit"
@using Drogecode.Knrm.Oefenrooster.Shared.Enums
@attribute [Authorize(Roles = AccessesNames.AUTH_super_user)]
<PageTitle>@L["Audit"]</PageTitle>

<MudSelect T="AuditType" Label="@L["Function"]" @bind-Value="_auditType"  AnchorOrigin="Origin.BottomLeft">
        <MudSelectItem T="AuditType" Value="AuditType.DataBaseUpgrade">@L[nameof(AuditType.DataBaseUpgrade)]</MudSelectItem>
        <MudSelectItem T="AuditType" Value="AuditType.PatchAssignedUser">@L[nameof(AuditType.PatchAssignedUser)]</MudSelectItem>
</MudSelect>
@if (_trainingAudits?.TrainingAudits is not null && _users is not null)
{
    <MudDataGrid Items="_trainingAudits.TrainingAudits" Striped="true" Hover="true">
        <Columns>
            <PropertyColumn Property="x => x.Date" Title="@L["Date"]">
                <CellTemplate>
                    <DateToString DateTimeUtc="context.Item.Date" ShowDate="true" ShowTime="true" />
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.AuditReason" Title="@L["AuditReason"]">
                <CellTemplate>
                    @LApp[context.Item.AuditReason?.ToString() ?? ""]
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.UserId" Title="@L["User"]">
                <CellTemplate>
                    @(_users.FirstOrDefault(u => u.Id == context.Item.UserId)?.Name ?? context.Item.UserId.ToString())
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.Assigned" Title="@LApp["Assigned"]">
                <CellTemplate>
                    <MudCheckBox Disabled="true" Value="context.Item.Assigned ?? false" />
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.Availability" Title="@L["Availability"]">
                <CellTemplate>
                    @LApp[context.Item.Availability?.ToString() ?? ""]
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.ByUser" Title="@L["By user"]">
                <CellTemplate>
                    @(_users.FirstOrDefault(u => u.Id == context.Item.ByUser)?.Name ?? context.Item.ByUser.ToString())
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.TrainingId" Title="@L["Training"]">
                <CellTemplate>
                    <div class="@(context.Item.IsDeleted ? "text-gray-500" : "")" @onclick="@(e => Goto(context.Item.TrainingId))">
                        @context.Item.Training?.Name - <DateToString DateTimeUtc="@context.Item.Training?.DateStart" ShowTime="true" />
                    </div>
                </CellTemplate>
            </PropertyColumn>
        </Columns>
    </MudDataGrid>
    @if (_skip > 0 || _trainingAudits.TotalCount > (_count + _skip))
    {
        <MudPagination Disabled="_busy" ShowFirstButton="true" ShowLastButton="true" MiddleCount="5" Count="@(Convert.ToInt32(Math.Ceiling((double)_trainingAudits.TotalCount/(double)_count)))" Selected="_currentPage" SelectedChanged="Next" Class="mt-4" />
    }
}
else
{
    <DrogeLoading />
}
