@page "/configuration/default-schedule"
@attribute [Authorize(Roles = $"{AccessesNames.AUTH_configure_default_schedule}")]
<PageTitle>@L["Configure default schedule"]</PageTitle>
<MudPaper Elevation="0" Class="p-2">
    @if (_defaults is not null)
    {
        if (_defaults.DefaultSchedules?.Any() == true)
        {<MudDataGrid Items="@_defaults.DefaultSchedules" Striped="true" Hover="true">
        <Columns>
            <HierarchyColumn T="DefaultSchedule"/>
            <PropertyColumn Property="x => x.Name" Title="@L["Name"]" CellClassFunc="@(x => $"trainingType-{x.RoosterTrainingTypeId}")"/>
            <PropertyColumn Property="x => x.WeekDay" Title="@L["Weekday"]">
                <CellTemplate>
                    @LApp[context.Item.WeekDay.ToString() ?? "None"]
                </CellTemplate>
            </PropertyColumn>
            <TemplateColumn Title="@L["TimeStart"]">
                <CellTemplate>
                    @if (context.Item.ShowTime)
                    {
                        <p>@context.Item.TimeStart</p>
                    }
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="@L["TimeEnd"]">
                <CellTemplate>
                    @if (context.Item.ShowTime)
                    {
                        <p>@context.Item.TimeEnd</p>
                    }
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
        }
    }
    else
    {
        <MudSkeleton/>
        <MudSkeleton/>
        <MudSkeleton/>
        <MudSkeleton/>
    }
</MudPaper>