@page "/configuration/month-item"
@attribute [Authorize(Roles = $"{AccessesNames.AUTH_scheduler_monthitem}")]
<h3>MonthItem</h3>

<PageTitle>@L["Month banner"]</PageTitle>
<MudPaper Elevation="0" Class="p-2">
    @if (_monthItems is not null)
    {
        <MudButton StartIcon="@Icons.Material.Filled.Add" OnClick="()=>{OpenMonthItemDialog(null, true);}">@L["Add new month item"]</MudButton>
        <MudSwitchM3 T="bool"  Value="@_includeExpired" ValueChanged="@(async (isChecked) => await IncludeExpiredChanged(isChecked))">@L["include expired"]</MudSwitchM3>
        <MudDataGrid Items="@_monthItems.MonthItems"
                     ReadOnly="true" EditMode="@DataGridEditMode.Cell">
            <Columns>
                <PropertyColumn Property="x => x.Text" Title="@L["Description"]" />
                <PropertyColumn Property="x => x.Year" Title="@L["Year"]" >
                    <CellTemplate>
                        @(context.Item.Year == null ? @L["Repeating"] : context.Item.Year)
                    </CellTemplate>
                </PropertyColumn>
                <PropertyColumn Property="x => x.Month" Title="@L["Month"]">
                    <CellTemplate>
                        @(new DateTime(2010, context.Item.Month, 1).ToString("MMMM", CultureInfo.CurrentUICulture))
                    </CellTemplate>
                    </PropertyColumn>
                <PropertyColumn Property="x => x.Severity" Title="@L["Severity"]">
                    <CellTemplate>
                        @context.Item.Severity
                    </CellTemplate>
                </PropertyColumn>
                <TemplateColumn >
                    <CellTemplate>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="@(async ()=>{await Delete(context.Item);})" />
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@(()=>{OpenMonthItemDialog(context.Item, false);})" />
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
        @if (_monthItems.TotalCount > _count)
        {
            <MudPagination Disabled="@_bussy" ShowFirstButton="true" ShowLastButton="true" Count="@(Convert.ToInt32(Math.Ceiling((double)_monthItems.TotalCount/(double)_count)))" Selected="_currentPage" SelectedChanged="Next" Class="mt-4" />
        }
    }
    else
    {
        <MudSkeleton />
        <MudSkeleton />
        <MudSkeleton />
        <MudSkeleton />
    }
</MudPaper>