@page "/configuration/global"
@attribute [Authorize(Roles = AccessesNames.AUTH_Taco)]
<h3>Global configuration</h3>

<MudText>Alleen Taco mag op deze knop klikken</MudText>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UpdateDatabase">@L["Update database"]</MudButton>
@if (_clickedUpdate == true)
{
    <MudText Typo="Typo.body1">Database updated!</MudText>
}
else if (_clickedUpdate == false)
{
    <MudText Typo="Typo.body1">Something went wrong, while updating database :')</MudText>
}

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddUser">Voeg test user toe</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SyncUsers">Sync users</MudButton>
@if (_usersSynced == true)
{
    <MudText Typo="Typo.body1">users synced</MudText>
}
else if (_usersSynced == false)
{
    <MudText Typo="Typo.body1">Something went wrong while syncing users :')</MudText>
}
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UpdateSpecialDates">Update special dates</MudButton>
@if (_specialDatesUpdated == true)
{
    <MudText Typo="Typo.body1">special dates bijgewerkt</MudText>
}
else if (_specialDatesUpdated == false)
{
    <MudText Typo="Typo.body1">Something went wrong while updating special dates :')</MudText>
}
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="RunDbCorrection">Run db correction</MudButton>
@if (_dbCorrection?.Success == true)
{
    <MudText Typo="Typo.body1">Done: @_dbCorrection.Message</MudText>
}
else if (_dbCorrection?.Success == false)
{
    <MudText Typo="Typo.body1">Failed: @_dbCorrection.Message</MudText>
}
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="RunSyncHistorical" Disabled="_clickedSyncHistorical">Run sync historical reports</MudButton>
@if (_syncHistorical?.Success == true)
{
    <MudText Typo="Typo.body1">Done: _syncHistorical</MudText>
}
else if (_syncHistorical?.Success == false)
{
    <MudText Typo="Typo.body1">Failed: _syncHistorical</MudText>
}
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="KillDb" Disabled="_clickedSyncHistorical">Kill db</MudButton>
@if (_killDb?.Success == true)
{
    <MudText Typo="Typo.body1">
        Done: KillDb @_killDb.KillCount
    </MudText>
}
else if (_killDb?.Success == false)
{
    <MudText Typo="Typo.body1">
        Failed: KillDb @_killDb.KillCount
    </MudText>
}

@if (_settingTrainingToCalendar is not null)
{
    <MudSwitch Label="setting training to calendar" Color="Color.Primary" T="bool" Value="@_settingTrainingToCalendar.Value" ValueChanged="@(async (isChecked) => await PatchTrainingToCalendar(isChecked))"/>
}

@if (_users != null && _functions != null)
{
    <AuthorizeView Roles="@AccessesNames.AUTH_Taco">
        <MudPaper>
            <MudList T="string" ReadOnly="true">
                <MudText>zeven meest recente logins maximaal 7 dagen geleden</MudText>
                @foreach (var user in _users.Where(x => x.LastLogin >= DateTime.Today.AddDays(-7)).OrderByDescending(x => x.LastLogin).Take(7))
                {
                    <MudListItem T="string">
                        <div class="flex space-x-4">
                            <p>@user.Name</p>
                            <DateToString ShowDate="true" ShowTime="true" DateTimeUtc="user.LastLogin"/>
                            @if (user.Versions is not null)
                            {
                                @foreach (var version in user.Versions)
                                {
                                    <MudChip T="string" Size="Size.Small">@version</MudChip>
                                }
                            }
                        </div>
                    </MudListItem>
                }
            </MudList>
        </MudPaper>
    </AuthorizeView>
    <MudPaper>
        <MudList T="string" ReadOnly="true">
            @foreach (var function in _functions.OrderBy(x => x.Order))
            {
                @if (_users.Any(x => x.UserFunctionId == function.Id))
                {
                    <MudText>@function.Name</MudText>
                    @foreach (var user in _users.Where(x => x.UserFunctionId == function.Id).OrderBy(x => x.Name))
                    {
                        <MudListItem T="string" OnClick="() => ChangeUser(user)">
                            <div class="flex space-x-4">
                                <p>@user.Name</p>
                                <DateToString ShowDate="true" ShowTime="true" DateTimeUtc="user.LastLogin"/>
                                @if (user.Versions is not null)
                                {
                                    @foreach (var version in user.Versions)
                                    {
                                        <MudChip T="string" Size="Size.Small">@version</MudChip>
                                    }
                                }
                            </div>
                        </MudListItem>
                    }
                }
            }
        </MudList>
    </MudPaper>
}