<MudDialog>
    <DialogContent>
        <div style="overflow: hidden;">
            @if (DefaultGroup is not null)
            {
                <MudTextField T="string" Label="@L["Name"]" @bind-Value="DefaultGroup.Name" Placeholder="@L["Give a name"]" Counter="@DefaultSettingsHelper.MAX_LENGTH_TRAINING_GROUP_NAME"
                              MaxLength="@DefaultSettingsHelper.MAX_LENGTH_TRAINING_GROUP_NAME"></MudTextField>
                <MudDatePicker Label="@LApp["ValidFrom"]" @bind-Date="DefaultGroup.ValidFrom" Required Disabled="@(IsNew != true && (DefaultGroup.ValidFrom?.InPast() ?? false))"
                               Validation="@(new Func<DateTime?, string?>(ValidateStartDate))"/>
                <MudDatePicker Label="@LApp["ValidUntil"]" @bind-Date="DefaultGroup.ValidUntil" Required Disabled="@(IsNew != true && (DefaultGroup.ValidUntil?.InPast() ?? false))"
                               Validation="@(new Func<DateTime?, string?>(ValidateTillDate))"/>
            }
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">@LApp["Cancel"]</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">@LApp["Submit"]</MudButton>
    </DialogActions>
</MudDialog>