@using Drogecode.Knrm.Oefenrooster.Client.Components.MudExRichText
@using Drogecode.Knrm.Oefenrooster.Shared.Enums
@using Drogecode.Knrm.Oefenrooster.Shared.Models.TrainingTarget
<MudDialog Visible="@Visible">
    <DialogContent>
        @if (_description?.Description is not null || _targetSetWithTargetsResult?.TrainingTargets?.Count > 0)
        {
            if (_description?.Description is not null)
            {
                <MudExRichTextReader Text="@_description.Description"/>
            }

            if (_targetSetWithTargetsResult?.TrainingTargets?.Count > 0)
            {
                <div class="inline-grid grid-cols-1">
                    @foreach (var target in _targetSetWithTargetsResult.TrainingTargets)
                    {
                        var resultObject = _targetSetWithTargetsResult.TrainingTargetResults?.Where(x => x.TrainingTargetId == target.Id).FirstOrDefault() ?? new TrainingTargetResult
                        {
                            TrainingTargetId = target.Id,
                            RoosterAvailableId = _targetSetWithTargetsResult.RoosterAvailableId,
                            TrainingDate = Training.DateStart,
                        };
                        <div class="inline-flex items-center" style="min-height: 40px;">
                            <MudIcon Icon="@target.Icon" Color="@target.IconColor"/>
                            <MudText Typo="Typo.body1">@target.Name <MudLink Href="@target.Url" Target="_blank">@target.UrlDescription</MudLink>
                            </MudText>
                            @if (target.Type == TrainingTargetType.Knowledge)
                            {
                                <MudSwitch Color="Color.Primary" T="bool" Value="@(resultObject.Result > 0)" ValueChanged="@(e => UpdateResult(e, resultObject))"
                                           Disabled="resultObject.IsUpdating || !_targetSetWithTargetsResult.Assigned"/>
                            }
                        </div>
                    }
                </div>
            }
        }
        else if (_description is not null)
        {
            <MudText>@L["No description found"]</MudText>
        }
        else
        {
            <DrogeLoading/>
        }
    </DialogContent>
</MudDialog>