@using Drogecode.Knrm.Oefenrooster.Shared.Enums;
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <AuthorizeView>
        <Authorized>
            <MudAppBar>
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                @L["Title"]
                <MudSpacer />
                <MudBadge Color="Color.Secondary" Dot="true" Overlap="true" Visible="_newNotificationsAvailable">
                    <MudMenu Icon="@Icons.Material.Outlined.Notifications" Color="Color.Inherit" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopCenter" PopoverClass="docs-layout-menu-shadow" ListClass="pa-2 docs-menu-list" LockScroll="true">
                        <div class="d-flex justify-space-between align-center px-2">
                            <MudText Typo="Typo.subtitle2">Notifications</MudText>
                            <MudButton Disabled="@(_newNotificationsAvailable == false)" StartIcon="@Icons.Material.Filled.DoneAll" Variant="Variant.Text" Color="Color.Primary" Class="ml-16 mr-n2">Mark as read</MudButton>
                        </div>
                        @if (_messages != null && _newNotificationsAvailable)
                        {
                            @foreach (var (message, isRead) in _messages.Take(5))
                            {
                                <MudMenuItem Class="px-2 py-0 rounded" Href="@($"/mud/announcements/{message.Id}")">
                                    <MudText Typo="Typo.subtitle2">@message.Title</MudText>
                                    <MudText Typo="Typo.body2">@($"{message.Authors.FirstOrDefault()?.DisplayName} • {message.PublishDate.ToString("MM/dd/yyyy")}")</MudText>
                                    </MudMenuItem>
                                <MudDivider Class="my-2" />
                            }
                        }
                        else
                        {
                            <div class="d-flex justify-center align-center px-2 py-8 relative">
                                <MudText Class="mud-text-secondary my-12">Nothing new :(</MudText>
                            </div>
                        }
                    </MudMenu>
                </MudBadge>
                <MudMenu Icon="@Icons.Material.Filled.Settings" Color="Color.Inherit" AnchorOrigin="@Origin.BottomLeft" TransformOrigin="@Origin.TopLeft">
                    <MudMenuItem Href="/user/profile">Profile</MudMenuItem>
                    <MudMenuItem @onclick="BeginLogout">Logout</MudMenuItem>
                </MudMenu>
                <MudTooltip Duration="1000" Text="@(_darkModeToggle == DarkLightMode.System ? @L["Switch to Light Theme"] : _darkModeToggle == DarkLightMode.Dark ? @L["Switch to system"] : @L["Switch to Dark Theme"])">
                    <MudIconButton Icon="@(_darkModeToggle == DarkLightMode.System ? @Icons.Material.Filled.AutoMode :_darkModeToggle == DarkLightMode.Dark ? @Icons.Material.Rounded.LightMode : @Icons.Material.Outlined.DarkMode)" Color="Color.Inherit" OnClick="@ToggleDarkLight" />
                </MudTooltip>
            </MudAppBar>
            <CascadingValue Value="_global">
                <MudDrawer @bind-Open="@_drawerOpen">
                    <NavMenu />
                </MudDrawer>
                <MudMainContent>
                    <Banner />
                    @Body
                    <UpdateChecker />
                </MudMainContent>
            </CascadingValue>
        </Authorized>
        <Authorizing>
            <MudMainContent>
                <MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium">
                    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">@L["One moment"]</MudText>
                </MudContainer>
            </MudMainContent>
        </Authorizing>
        <NotAuthorized>
            @NotAuthorized()
        </NotAuthorized>
    </AuthorizeView>
</MudLayout>

