@page "/"
@attribute [Authorize]
@using Drogecode.Knrm.Oefenrooster.Client.Pages.Components

<PageTitle>Index</PageTitle>

<MudText>@L["Future trainings"]</MudText>

@if (_trainings != null)
{
    @if (_trainings.Count() > 0)
    {
        <MudPaper Elevation="0" Class="d-flex align-content-start flex-wrap flex-grow-1 gap-4 mx-2 my-4">
            @foreach (var training in _trainings)
            {
                <IndexBlock Training="training" />
            }
        </MudPaper>
    }
    else
    {
        <MudText>@L["No future trainings"]</MudText>
    }
}

@if (_isAuthenticated)
{
    <p>Hello @_name</p>
    <div>
        <table cellpadding="2" cellspacing="2">
            <tr>
                <th>Claim</th>
                <th>Value</th>
            </tr>
            @foreach (var claim in _user.Claims)
            {
                <tr>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <p>Welcome to your new app.</p>
}
