@if (TextField is not null)
{
    <MudPaper Class="pa-4 inline-flex space-x-2" Width="100%" MaxWidth="800px">
        @if (Label is not null)
        {
            <MudText>@Label</MudText>
        }
        <MudTextField Value="@TextField" ReadOnly="true"/>
        <MudButton OnClick="() => CopyTextToClipboard(TextField)">@L["Copy"]</MudButton>
    </MudPaper>
}
else if (TrustedHtmlText is not null)
{
    <div>@((MarkupString)TrustedHtmlText)</div>
    <div>
        <MudButton OnClick='() => CopyTextToClipboard(TrustedHtmlText.Replace("<br />", "\r"))'>@L["Copy"]</MudButton>
    </div>
}

<script>
    window.clipboardCopy = {
        copyText: function (text, message) {
            const plainText = text
                .replace(/<br\s*\/?>/gi, '\n')
                .replace(/<\/p>|<\/div>/gi, '\n')
                .replace(/<[^>]*>/g, '')
                .replace(/\n\s*\n/g, '\n\n');

            navigator.clipboard.writeText(plainText).then(function () {
                alert(message);
            }).catch(function (error) {
                alert(error);
            });
        }
    };
</script>