@page "/user/profile"
@attribute [Authorize]

<PageTitle>Profiel</PageTitle>
<h3>Profile</h3>
<CultureSelector />

<AuthorizeView Roles="@AccessesNames.AUTH_Taco">
    @if (_settingTrainingToCalendar is not null)
    {
        <MudSwitch Label="setting training to calendar" Color="Color.Primary" T="bool" Checked="@_settingTrainingToCalendar.Value" CheckedChanged="@(async (isChecked) => await PatchTrainingToCalendar(isChecked))" />
    }
</AuthorizeView>
<MudText>
    <p>Client versie: @DefaultSettingsHelper.CURRENT_VERSION</p>
    @if (_updateDetails is not null)
    {
        <p>Server versie: @_updateDetails.CurrentVersion </p>
    }
</MudText>