@page "/user/profile"
@attribute [Authorize]

<PageTitle>@L["Profile"]</PageTitle>
<MudText Typo="Typo.h5">@L["Profile"]</MudText>

<MudPaper Class="pa-4" MaxWidth="800px">
    <CultureSelector/>
    <AuthorizeView Roles="@AccessesNames.AUTH_Taco">
        @if (_settingTrainingToCalendar is not null)
        {
            <MudSwitch Label="@L["Setting training to calendar"]" Color="Color.Primary" T="bool" Value="@_settingTrainingToCalendar.Value" ValueChanged="@(async (isChecked) => await PatchTrainingToCalendar(isChecked))"/>
        }
    </AuthorizeView>
    <MudText>
        <table class="table-auto">
            <tbody>
            <tr>
                <td>@L["Client version:"]</td>
                <td>@DefaultSettingsHelper.CURRENT_VERSION</td>
            </tr>
            @if (_updateDetails is not null)
            {
                <tr>
                    <td>@L["Server version:"]</td>
                    <td>@_updateDetails.CurrentVersion</td>
                </tr>
            }
            </tbody>
        </table>
    </MudText>
    <AuthorizeView Roles="@AccessesNames.AUTH_Taco"><!-- Remove when ready -->
        <AuthorizeView Roles="@AccessesNames.AUTH_mail_invite_external" Context="inner">
            <MudText>@L["Mails to invite to your trainings"]</MudText>
        </AuthorizeView>
    </AuthorizeView>
</MudPaper>