@page "/user/profile"
@attribute [Authorize]

<PageTitle>@L["Profile"]</PageTitle>
<MudText Typo="Typo.h5">@L["Profile"]</MudText>

<MudPaper Class="pa-4" MaxWidth="800px">
    <CultureSelector/>
    <AuthorizeView Roles="@AccessesNames.AUTH_Taco">
        @if (_settingTrainingToCalendar is not null)
        {
            <MudSwitch Label="@L["Setting training to calendar"]" Color="Color.Primary" T="bool" Value="@_settingTrainingToCalendar.Value" ValueChanged="@(async (isChecked) => await PatchTrainingToCalendar(isChecked))"/>
        }
    </AuthorizeView>
    <MudText>
        <p>@L["Client version:"] @DefaultSettingsHelper.CURRENT_VERSION</p>
        @if (_updateDetails is not null)
        {
            <p>@L["Server version:"] @_updateDetails.CurrentVersion </p>
        }
    </MudText>
</MudPaper>